<template>
    <v-container class="grey lighten-5">
        <Team></Team>
    </v-container>

</template>

<script lang="ts">

import { Component, Vue} from "vue-property-decorator";
import Team from "@/components/Team.vue";
import NavigationPanel from "@/components/NavigationPanel.vue";

@Component({
    components: { Team, NavigationPanel }
})
export default class Home extends Vue {


}
</script>

