<template>
    <v-app>
        <v-app-bar
            app
            color="gray"
            dark
        >
            <div class="d-flex align-center">
                <v-img
                    contain
                    src="http://static1.squarespace.com/static/5ba15b80266c0747bc5cb4f1/t/5f050d65f86bcf11cb655a50/1594166631525/Mindshift+Logo.png?format=1500w"
                    transition="scale-transition"
                    width="200"
                />
            </div>
            <v-spacer></v-spacer>
            <v-tabs>
                <v-tab>Dev</v-tab>
                <v-tab>Test</v-tab>
                <v-tab>QA</v-tab>
                <v-tab>Prod</v-tab>
            </v-tabs>
            <v-btn
                @click="onClick()"
                class="ma-2"
                color="indigo"
                dark
            >Add Team</v-btn>
        </v-app-bar>

        <v-main>
            <router-view/>
        </v-main>
    </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Header extends Vue {

    addTeam = false;

    onClick(): void {
        this.$emit('addTeam', true)
        console.log("event pressed " + this.addTeam)
    }

}
</script>
