<template>
  <div class="new-component">
    <v-container class="grey lighten-5">
        <v-card elevation="5" >
            <v-row :class="'mb-3'" no-gutters >
                <v-col v-for="n in urlCount" :key='n'>
                    <v-card class="pa-2" outlined tile >
                        <team-url></team-url>
                    </v-card>
                </v-col>
            </v-row>
            <v-btn elevation="2" @click="addLink()">
                Add Link
            </v-btn>
        </v-card>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TeamUrl from "@/components/TeamUrl.vue";

@Component({
    components: { TeamUrl }
})
export default class Team extends Vue {

    public urlCount = 1;
    public rowCount = 0;

    addLink() {
        return this.urlCount++;
    }

}
</script>
