<template>
  <div class="new-component">
    <v-container class="grey lighten-5">
        <v-col>
            <label for="text">{{ title }}</label>
             <v-text-field
                 id="text"
                 placeholder="Placeholder"
                 outlined
          ></v-text-field>
        </v-col>
    </v-container>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'

@Component
export default class TeamUrl extends Vue {

    title = 'test';

}
</script>
